# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
main

# Test binary
*.test

# Output of the go coverage tool
*.out
coverage.txt

# Go workspace file
go.work

# Dependencies
vendor/

# Environment variables
.env

# IDE
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Database
*.db
*.sqlite
